<style>
  .svg-ic_play_circle_outline_24px-dims { width: 24px; height: 24px; }
</style>
<div class="icon icon-ic_play_circle_outline_black_24dp"></div>
<div class="svg-ic_play_circle_outline_24px svg-ic_play_circle_outline_24px-dims"></div>